**K-means clustering blog - points to cover**

- Different approaches to clustering networks 
- Go over the steps on how the algorithm works 
- How are clusters evaluated 
- How to find the right k 
- Discuss intra class similarity and interclass similarity
- Describe the tuning parameters in scikit-learns implementation of k-means clustering

In [35]:
from sklearn.cluster import KMeans
from sklearn.metrics import calinski_harabasz_score
import numpy as np

In [25]:
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv('bankloans.csv')

In [27]:
df.dropna(inplace = True)

In [30]:
df.head()

   age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0   41   3      17       12     176      9.3  11.359392  5.008608      1.0
1   27   1      10        6      31     17.3   1.362202  4.000798      0.0
2   40   1      15       14      55      5.5   0.856075  2.168925      0.0
3   41   1      15       14     120      2.9   2.658720  0.821280      0.0
4   24   2       2        0      28     17.3   1.787436  3.056564      1.0

In [33]:
features = ['ed','creddebt']
X = df[features].values

**Kmeans function** - this function is to test which is the best value of clusters

In [41]:
def k_means(k):
    lst = []
    for i in range(1,k+1):
        kmeans = KMeans(n_clusters = i, init = 'k-means++')
        results = kmeans.fit(X)
        lst.append(results)
    return lst

**Using Calinski Score to determine the best k**

In [42]:
k_means(6)

[KMeans(n_clusters=1),
 KMeans(n_clusters=2),
 KMeans(n_clusters=3),
 KMeans(n_clusters=4),
 KMeans(n_clusters=5),
 KMeans(n_clusters=6)]

In [28]:
kmeans = KMeans(n_clusters = 6)
kmeans.fit(df)
predicted_clusters = kmeans.predict(df)

In [ ]:
plt.scatter(X[:, 0], X[:, 1], c=y_kmeans, s=50, cmap='viridis')

centers = kmeans.cluster_centers_
plt.scatter(centers[:, 0], centers[:, 1], c='black', s=200, alpha=0.5